streamlit
validators
python-dotenv

langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters

beautifulsoup4
lxml

youtube-transcript-api
pytube

unstructured
huggingface_hub

numexpr
